body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  overflow:hidden;
}
#u47_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:342px;
  width:186px;
  height:66px;
  opacity:0;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:647px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-2px;
  width:365px;
  height:647px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:318px;
  height:5px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:340px;
  width:315px;
  height:2px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:318px;
  height:5px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:406px;
  width:315px;
  height:2px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:348px;
  width:50px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-404px;
  width:275px;
  height:1049px;
  overflow:hidden;
  touch-action:none;
}
#u54_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:1049px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u54_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:50px;
  width:48px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:150px;
  width:48px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:250px;
  width:49px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:350px;
  width:47px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:450px;
  width:48px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:550px;
  width:47px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:650px;
  width:48px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:750px;
  width:36px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:850px;
  width:37px;
  height:59px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#CCCCCC;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:141px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:506px;
  width:365px;
  height:141px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:221px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2px;
  width:366px;
  height:221px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#0B34E4;
  text-align:center;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:178px;
  width:48px;
  height:35px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#0B34E4;
  text-align:center;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B34E4;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:78px;
  width:19px;
  height:22px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B34E4;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#0B34E4;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:178px;
  width:48px;
  height:35px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#0B34E4;
  text-align:center;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B34E4;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:78px;
  width:15px;
  height:22px;
  font-family:'华文圆体 常规体', '华文圆体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0B34E4;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:524px;
  width:120px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
